<header class="flex justify-between items-center px-8 py-4 bg-blue-900 text-white shadow-md">
  
  <h1 class="text-xl font-bold tracking-wide">
    📚 Gestion des Notes
  </h1>

  <nav class="flex gap-4">
    <a 
      routerLink="/accueil" 
      routerLinkActive="bg-white/30 font-semibold"
      class="px-4 py-2 rounded-lg text-sm hover:bg-white/20 transition-all">
      Accueil
    </a>
    <a 
      routerLink="/liste-notes" 
      routerLinkActive="bg-white/30 font-semibold"
      class="px-4 py-2 rounded-lg text-sm hover:bg-white/20 transition-all">
      Liste des Notes
    </a>
    <a 
      routerLink="/statistiques" 
      routerLinkActive="bg-white/30 font-semibold"
      class="px-4 py-2 rounded-lg text-sm hover:bg-white/20 transition-all">
      Statistiques
    </a>
  </nav>

</header>