<div [ngClass]="getClasseCarte()" class="rounded-xl p-5 w-full shadow-md">

  <h3 class="text-base md:text-lg font-bold mb-1">
    {{ etudiant.prenom }} {{ etudiant.nom }}
  </h3>

  <p class="text-sm font-semibold mb-3 opacity-70">
     {{ etudiant.classe }}
  </p>

  <div class="flex flex-wrap gap-1 mb-3">
    @for (note of etudiant.notes; track $index) {
      <span class="bg-white/50 text-xs px-2 py-1 rounded-full font-medium">
        {{ note }}/20
      </span>
    }
  </div>

  <p class="text-sm font-bold mb-3">
    Moyenne : {{ moyenne | number:'1.2-2' }}/20
  </p>

  @if (moyenne < 10) {
    <span class="bg-red-600 text-white text-xs px-3 py-1 rounded-full">
       Échec
    </span>
  } @else if (moyenne < 14) {
    <span class="bg-orange-500 text-white text-xs px-3 py-1 rounded-full">
       Passable
    </span>
  } @else {
    <span class="bg-green-600 text-white text-xs px-3 py-1 rounded-full">
       Réussite
    </span>
  }

  <button
    (click)="onSupprimer()"
    class="mt-4 w-full bg-white/40 hover:bg-white/70 
           text-sm font-semibold py-2 rounded-lg transition-all">
    🗑️ Supprimer
  </button>

</div>