<div class="min-h-screen bg-gray-50 p-8">

  <h2 class="text-2xl font-bold text-blue-900 mb-6">
     Liste des Notes
  </h2>

  <!-- Filtre par classe -->
  <div class="mb-6">
    <label class="text-gray-600 font-semibold mr-3">Filtrer par classe :</label>
    <select 
      [(ngModel)]="filtreClasse"
      class="border border-gray-300 rounded-lg px-4 py-2 
             bg-white text-gray-700 focus:outline-none focus:ring-2 
             focus:ring-blue-500">
      <option value="tous">Tous</option>
      <option value="6ème">6ème</option>
      <option value="5ème">5ème</option>
      <option value="4ème">4ème</option>
      <option value="3ème">3ème</option>
    </select>
  </div>

  <!-- Liste des étudiants -->
  <div class="flex flex-wrap gap-4">
    @for (etudiant of getEtudiantsFiltres(); track etudiant.id) {
      <app-carte-etudiant
        [etudiant]="etudiant"
        [moyenne]="calculerMoyenne(etudiant.notes)"
        (suppression)="supprimerEtudiant($event)"
      />
    }
  </div>

  <!-- Message si liste vide -->
  @if (getEtudiantsFiltres().length === 0) {
    <div class="text-center text-gray-400 text-lg mt-12">
       Aucun étudiant trouvé pour cette classe
    </div>
  }

</div>